@charset "UTF-8";

:root {
    --text-color-main: #8a6c47;
    --bg-color-main: #383635;
}

.header {
    background-color: var(--bg-color-main);
    height: 11vh;
}

nav {
    background-color: var(--bg-color-main);
    height: 9vh;
    z-index: 0;
}

nav > i {
    font-size: 2.2em;
    color: white;
}

h1, h2, h3, #add label {
    color: var(--text-color-main);
}

#add label {
    font-size: 1.4em;
    font-weight: 500;
}

section {
    height: 27vh;
}

.items {
    width: fit-content;
}

.item {
    height: 210px;
    width: 160px;
}

.item .piece {
    height: 120px;
    width: 120px;
    top: 60px;
    left: 14px;
}

.item .piece:nth-last-child(2) {
    top: 53px;
    left: 7px;
}

.item .piece:last-child {
    top: 46px;
    left: 0;
}

.pieces-colors {
    max-height: 15vh;
}

.pieces-colors > img {
    height: 10vh;
    margin: 20px;
}

.login {
    background-color: var(--bg-color-main);
}

.login-button {
    background-color: var(--text-color-main);
    border: none;
}

.login-button:active {
    background-color: rgb(100, 78, 51)
}

.login .logo {
    opacity: 0.5;
    width: 80vw;
}

section img {
    height: 100px;
    width: 100px;
}

#settings, #add, #home {
    height: 91vh;
    top: 0;
    left: 0; 
    width: 100vw;
}

.back-button {
    background-color: var(--bg-color-main);
}

::-webkit-scrollbar {
    display: none;
}

.profile-img {
    font-size: 3rem;
}

.other-pages h1 {
    text-align: center;
}

input[type=checkbox] {
    transform: scale(1.4);
    margin-right: 20px;
}

.add-piece-button:active {
    background-color: #383635;
}

.new-piece {
    height: 300px;
    width: 300px;
}

.new-piece img {
    width: 100%;
    height: 100%;
}

.add-cont {
    height: 100%;
}

#settings .settings-item {
    margin-bottom: 1000px;
}

@media (min-width: 431px) {
    .header {
        height: 14vh;
    }

    .header svg {
        height: 11vh;
    }
}